/*
 * Globals
 */
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */


/*----------begin Vicky's changes----------*/

/* General */

.ext-link {
  text-align:right;
}

.side-bar {
  background-color:#fff;
  border: 1px solid #eee;
  margin-top:20px;
}

/* Homepage */
.homebox {
  padding-left:30px;
  padding-right:30px;
  text-align:justify;
}

.side-bar a:hover {
  font-weight:bold;
 }

/* Secondary page */
.sec-header {
  margin-left:auto;
  margin-right:auto;
  padding-top:20px;
}

.descrip-container p {
  text-align:justify;
}

.descrip-container h2 {
  text-align:justify;
}

/* Tertiary page */

.tert-content p {
  text-align:justify;
}

.tert-content h3 {
  text-align:justify;
}

.tert-img {
  padding:10px;
  padding-top:20px;
}

.b2top {
  margin-top:30px;
}

/*----------end Vicky's changes----------*/

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-left: 100px;
    width: 80%;
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-right: 15px;
  padding-left: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left:  15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left:  0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

/* Links */
a,
a:focus,
a:hover {
    color: #333;
    text-decoration: none;
    text-shadow: none;
    background-color: transparent;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html {
  height: 100%;
}
body {
    height: 100%;
    color: #1d1d1d;
    text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
    background-image: url(../images/coverimage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
    padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}
.container {
    width: 70%;
    height: 100%;
    border-left: silver 2px solid;
    border-right: silver 2px solid;
}
.nav {
    height: 200px; 
}
.logo {
    float: left;
    margin: 20px;   
}
.topnav {
    float: left;
    margin-top: 100px; 
    margin-left: 20px;
    display: inline-block;
}
.topnavlink {
    float: left;
    display: inline-block;
    text-align: center;
    font-size: 25px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 5px;
    border-bottom: 3px solid rgb(255,217,41);
}
.active {
    border-bottom: 3px solid #262626;   
}
.btn-group {
    padding-right: 90px;  
}
.dorpdownlink {
    font-size: 18px;
    text-align: left;
}
.homecontainer {
    padding-top:50px;
    float: left;
    width: 100%;
}
.footer {
    float: left;
    height: 10%;
    width: 100%;
    background-color: rgb(255, 200, 41);
}
.credits {
    margin-top: 1%;
    color: #1d1d1d;
    float: left;
    margin-top: 20px;
    margin-left: 60px;
}
.table {
    width: 30%;
    background-color: #f0f0f0;
}
.table td{
    color: #4d4b4c;
    font-size: 1.25em;
    border-right: none;
    border-left: none;
    margin-bottom: 10px;
    border-bottom: 2px dashed #c1ccbb;
}
.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}
.dropdown {
    display: inline-block;
    padding-right: 40px;
}   
.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}


/******* Footer Styling ******/
#footer {
    float:left;
    width: 100%;
    margin-top: 32px;
    margin-bottom: 10px;
    min-height: 50px;
    background-color: rgb(255, 200, 41);
}
#footer a{
    color: #1d1d1d;
}
#footer a:hover{
    color: #black;
}
#footer ul{
    color: #fff;
}
#footer ul li{
    margin: 15px 10px 10px 0px;
    display: block;
    float: left;
    color: black;
}
.name {
    float: right;   
}

.breadcrumbs {
    width: 100%;
    float: left;
    color: black; 
    text-align: left;
}
.breadcrumbs a {
    color: #ffa700;   
}
.sidebar {
    border-right: silver 1px solid;
    float: left;
    height: 40%;
    width: 15%;
    margin-left: 40px;
}
.sidebar li {
    list-style: none;   
}
.sidebar li a {
    font-size: 20px;
}
.contentcontainer {
    width: 82%;
    float: left;
    border-top: 1px solid silver;
}